# Django
*.sqlite3
*.env
*.log
*.bak
venv/
.venv/
__pycache__/
*.pyc
migrations/**/__pycache__/
media/
static/
staticfiles/
.vscode/
.idea/
.tox/
.coverage
htmlcov/
coverage.xml
.pytest_cache/
*.tar.gz
*.zip
celerybeat-schedule*
celeryd.pid
local_settings.py

# Ruff
.ruff_cache/

# React
node_modules/
build/
dist/
.parcel-cache/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# General ignores
.gitkeep